
@{
    ViewBag.Title = "form2";
    if (Session["Admin"] != null)
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
}

@using Community_Appeal_Web_Application.Models


@model Basvuru

@{
    if (Model != null)
    {
        <div class="row">

            <div class="col-lg-12">
                @if (ViewBag.hata != null)
                {

                    <div class="alert alert-danger alert-dismissable">
                        <p>@ViewBag.hata</p>
                    </div>
                }
                <section class="panel">
                    <header class="panel-heading">
                        Ek 2 - Topluluk Üye Listesi
                    </header>
                    <div class="panel-body">
                        <form class="form" role="form" method="post" action="/Home/form2">
                            <div class="form-group">
                                <input style="margin-right:5px;" type="text" class="form-control" id="tc" placeholder="TC Kimlik No" maxlength="11">
                            </div>
                            <div class="form-group">
                                <input style="margin-right:5px;" type="text" class="form-control" id="ogrNo" placeholder="Öğrenci No" maxlength="100">
                            </div>
                            <p>*T.C. Kimlik veya Okul Numarası ile sorgu yapabilirsiniz.</p>
                            <p>*Topluluğunuzda bulunacak olan en az 20 kişiyi ekledikten sonra "Kaydet" Buttonuna Basarak Form 3'e geçebilirsiniz.</p>

                            @{
                                if (Model.adimNo >= 3)
                                {
                                    <a style="float:right;" href="/Home/form3" class="btn btn-primary">Form 3</a>
                                }
                            }

                            <button style="float:right;margin-right:5px;" type="submit" class="btn btn-info">Kaydet</button>
                            <a id="ekle" style="margin-right:5px;float:right;" class="btn btn-success"><i class="glyphicon-plus"></i> Ekle</a>

                        </form>
                        <br />



                    </div>
                </section>

            </div>
        </div>

        <div class="row">


            <p id="say" class="hidden">@Model.OgrenciListesi.Count</p>

            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">
                        Ek 2 - Topluluk Üye Listesi
                    </header>
                    <div class="panel-body" id="content">
                        <p>
                            <strong></strong>
                        </p>
                        <p align="center">
                            <strong>DÜZCE ÜNİVERSİTESİ @Model.toplulukAdi.ToUpper() TOPLULUĞU</strong>
                        </p>
                        <p align="center">
                            <strong>@DateTime.Now.Year-@DateTime.Now.AddYears(+1).Year AKADEMİK YILI ÜYE LİSTESİ</strong>
                        </p>
                        <div class="append">

                            <table border="1" cellspacing="0" cellpadding="0" width="100%">

                                <tbody class="kisi">
                                    <tr>
                                        <td width="54" valign="top">
                                            <p align="center">
                                                <strong>S. No</strong>
                                            </p>
                                        </td>
                                        <td width="164">
                                            <p align="center">
                                                <strong>Adı Soyadı</strong>
                                            </p>
                                        </td>
                                        <td width="158">
                                            <p align="center">
                                                <strong>Fak/Yüksekokul/MYO</strong>
                                            </p>
                                        </td>
                                        <td width="117">
                                            <p align="center">
                                                <strong>TC Kimlik No</strong>
                                            </p>
                                        </td>
                                        <td width="119" valign="top">
                                            <p align="center">
                                                <strong>Öğrenci No</strong>
                                            </p>
                                        </td>
                                        <td width="134" valign="top">
                                            <p align="center">
                                                <strong>Cep Tel No</strong>
                                            </p>
                                        </td>
                                        <td width="143">
                                            <p align="center">
                                                <strong>e-Posta</strong>
                                            </p>
                                        </td>
                                        <td width="99">
                                            <p align="center">
                                                <strong>İmza</strong>
                                            </p>
                                        </td>
                                        <td width="99">
                                            <p align="center">
                                                <strong>İşlemler</strong>
                                            </p>
                                        </td>
                                    </tr>
                                    @{
                                        int counter = 1;
                                        foreach (OgrenciListesi item in ViewBag.ol)
                                        {

                                            <tr id="@item.ID">
                                                <td width="54" valign="top">
                                                    <p>
                                                        @counter
                                                    </p>
                                                </td>
                                                <td width="164" valign="top">@item.adi @item.soyadi</td>
                                                <td width="158" valign="top">@item.fak</td>
                                                <td width="117" valign="top">@item.tc</td>
                                                <td width="119" valign="top">@item.ogrNo</td>
                                                <td width="134" valign="top">@item.tel</td>
                                                <td width="143" valign="top">@item.mail</td>
                                                <td width="99" valign="top"></td>
                                                <td class="sil" style="text-align:center;" width="99" valign="top"><a class="btn btn-danger btn-xs itemDelete" data-id="@item.ID"> <i class="icon-trash"> Sil</i></a></td>
                                            </tr>
                                            counter = counter + 1;
                                        }
                                    }


                                </tbody>
                            </table>
                        </div>

                        <br />
                        <p>
                            Not:En az 20(yirmi) üye ile topluluk kurulacaktır.
                        </p>
                    </div>
                </section>

            </div>
        </div>
    }
    else
    {
        <div class="alert alert-danger" role="alert">
            <strong><p style="font-size:18px;"> İlk önce 1. formu doldurmanız gerekmektedir.</p></strong>
        </div>
    }
}



<script src="/Content/js/jquery.js"></script>
<script src="/Content/js/jquery-1.8.3.min.js"></script>
<script>

    $('.itemDelete').click(function () {
        var id = $(this).attr("data-id");
        $.ajax({
            url: '/Home/OgrenciListesiSil/' + id,
            type: 'POST',
            success: function (rs) {
                if (rs === 3) {
                    $('#' + id).remove();
                }
                else if (rs === 2) {
                    alert('Kendinizi Üye Listesinden Silemezsiniz.');
                }
                else {
                    alert('Silme işlemi gerçekleşirken bir hata oluştu.');
                }
            },
            error: function (rs) {
                alert('Bir hata oluştu');
            }
        });
    });

    $('#ekle').click(function () {
        var value3 = $('#tc').val();
        var value4 = $('#ogrNo').val();

        var say = parseInt($('#say').text()) + 1;

        
        if (value3 === "" || value4 === "" ) {
            alert("Tüm alanlar doldurulmalıdır.");
        }
        else {
            var data0 = { tc: value3, ogrNo: value4 };
            $.ajax({
                type: 'POST',         
                url: '/Home/OgrenciListesiEkle',
                data: data0,
                success: function (result) {
                    if (result === "hata1") {
                        alert("Girdiğiniz bilgilere ait bir öğrenci bulunmamaktadır.");
                    }
                    else if (result === "hata2") {
                        alert("Bu forma en az 20 kişi eklemelisiniz.");
                    }
                    else if (result === "hata0") {
                        alert("Bu Öğrenciyi daha önce eklediniz.");
                    }
                    else {
                        $.ajax({
                            url: '/Home/ogrenciListesiWidget',
                            type: 'GET',
                            cache: false,
                            success: function (data) {
                                $('.append').html(data);
                            }
                        });
                        alert("Kişi Eklendi.");
                    }
                },
                Error: function (result) {
                    alert("Error");
                }
            });
        }

    });

</script>