
@{
    Layout = null;
}

@using Community_Appeal_Web_Application.Models

@model Basvuru

<style>
    body {
        margin: 50px;
        text-align: justify;
        text-rendering: geometricPrecision;
    }
</style>

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Form1</title>
</head>
<body>
    <div>

        <div class="panel-body" style="font-family:'Times New Roman';" >
            <p style="margin-bottom: 12.0pt; text-align: center; line-height: normal; tab-stops: center 8.0cm left 397.55pt;"><strong><span style="font-size: 12.0pt; ">D&Uuml;ZCE &Uuml;NİVERSİTESİ @Model.toplulukAdi.ToUpper() TOPLULUĞU T&Uuml;Z&Uuml;Ğ&Uuml;</span></strong></p>
            <ol>
                <li style="margin-bottom: .0001pt; text-align: justify; text-justify: inter-ideograph; line-height: normal;"><strong><span style="font-size: 12.0pt; ">TOPLULUĞUN ADI</span></strong></li>
            </ol>
            <p id="tAdi2" style="margin-bottom: .0001pt; text-align: justify; text-justify: inter-ideograph; text-indent: 35.4pt; line-height: normal;"><span style="font-size: 12.0pt; ">Topluluğunun adı, &nbsp;D&uuml;zce &Uuml;niversitesi  @Model.toplulukAdi  Topluluğu&rsquo;dur.</span></p>
            <p style="margin-bottom: .0001pt; text-align: justify; text-justify: inter-ideograph; line-height: normal;"><span style="font-size: 12.0pt; ">&nbsp;</span></p>
            <ol start="2">
                <li style="margin-bottom: .0001pt; text-align: justify; text-justify: inter-ideograph; line-height: normal;"><strong><span style="font-size: 12.0pt; ">TOPLULUĞUN AMACI</span></strong></li>
            </ol>
            <p id="tAdi3" style="text-align: justify; text-justify: inter-ideograph; text-indent: 17.4pt; line-height: normal; margin: 0cm 0cm .0001pt 18.0pt;"><span style="font-size: 12.0pt; ">D&uuml;zce &Uuml;niversitesi  @Model.toplulukAdi  Topluluğu&rsquo;nun amacı D&uuml;zce &Uuml;niversitesi &ouml;ğrencilerinin;</span></p>
            <ul>
                <li style="margin-left: 53.4pt"><span >- Ruh sağlığı, fiziksel ve zihinsel gelişimlerine yardımcı olmak, sağlıklı bireyler olarak hayatlarına devam etmelerini sağlamak. </span></li>
                <li style="margin-left: 53.4pt;"><span >- Boş vakitlerini sistemli, eğitici aktiviteler ile keyifli hale getirmek, b&ouml;ylece k&ouml;t&uuml; alışkanlıklardan da korumak, </span></li>
                <li style="margin-left: 53.4pt;"><span >- Sosyalleşmelerine ve sosyal kimlik kazanmalarına yardımcı olmak, </span></li>
                <li style="margin-left: 53.4pt;"><span >- İletişim becerilerini geliştirmek, </span></li>
                <li style="margin-left: 53.4pt;"><span >- Paylaşmayı ve yardımlaşmayı &ouml;ğretmek, yaşamlarına uygulamaya &ccedil;alışmak </span></li>
                <li style="margin-left: 53.4pt;"><span >- Zihinle beden hareketlerinin uyumlu &ccedil;alışması &ouml;zelliklerinin gelişmesine yardımcı olmak, </span></li>
                <li style="margin-left: 53.4pt;"><span >- Spor k&uuml;lt&uuml;r&uuml; ve ahlakı konusunda bilgi sahibi olmalarını sağlamak, </span></li>
                <li style="margin-left: 53.4pt;"><span >- Kendi sınırlarını tayin etmelerini sağlamaktır.</span></li>
                <li id="aciklama" style="margin-left: 53.4pt;"><span style="font-size: 12.0pt; line-height: 115%; ">- Diğer (Topluluğun Amacı Kısaca Açıklyayınız) @Model.toplulukAmac</span></li>
            </ul>
            <p style="margin-bottom: .0001pt; text-align: justify; text-justify: inter-ideograph; line-height: normal;"><span style="font-size: 12.0pt; ">&nbsp;</span></p>
            <ol start="3">
                <li style="margin-bottom: .0001pt; text-align: justify; text-justify: inter-ideograph; line-height: normal;"><strong><span style="font-size: 12.0pt; ">TOPLULUK ETKİNLİKLERİ VE &Ccedil;ALIŞMA ŞEKLİ</span></strong></li>
            </ol>
            <p style="text-align: justify; text-justify: inter-ideograph; text-indent: 17.4pt; line-height: normal; margin: 0cm 0cm .0001pt 18.0pt;"><span style="font-size: 12.0pt; ">Topluluk genel kurulu her akademik yılın G&uuml;z yarıyılında bir (1) kez, Bahar yarıyılında bir (1) kez toplanarak genel kurul toplantısını ger&ccedil;ekleştirir. Topluluk Y&ouml;netim Kurulu ise her ayın ilk haftası i&ccedil;erisinde bir (1) kez toplanarak o ay i&ccedil;in gereken işlemlere karar verir. Topluluk &uuml;yelerine gerekli g&ouml;revlendirmeleri yapar.</span></p>
            <p id="tAdi4" style="text-align: justify; text-justify: inter-ideograph; text-indent: 17.4pt; line-height: normal; margin: 0cm 0cm .0001pt 18.0pt;"><span style="font-size: 12.0pt; ">D&uuml;zce &Uuml;niversitesi  @Model.toplulukAdi  Topluluğu topluluk b&uuml;nyesinde t&uuml;m &uuml;niversite akademik, idari personeli ve &ouml;ğrencilerine y&ouml;nelik &uuml;cretli kurslar d&uuml;zenleyebilir. </span></p>
            <p style="text-align: justify; text-justify: inter-ideograph; line-height: normal; margin: 0cm 0cm .0001pt 54.0pt;"><span style="font-size: 12.0pt; ">&nbsp;</span></p>
            <ol start="4">
                <li style="margin-bottom: .0001pt; text-align: justify; text-justify: inter-ideograph; line-height: normal;">
                    <strong><span style="font-size: 12.0pt; ">&Uuml;YELİK</span></strong>

                        <p style="text-align: justify; text-justify: inter-ideograph; line-height: normal; margin: 0cm 0cm .0001pt 27.0pt;"><u><span style="font-size: 12.0pt; ">i) ÜYE OLMA</span></u></p>

                </li>
            </ol>
            <p style="margin-bottom: .0001pt; text-align: justify; text-justify: inter-ideograph; text-indent: 35.4pt; line-height: normal;"><span style="font-size: 12.0pt; ">D&uuml;zce &Uuml;niversitesi&rsquo;nin t&uuml;m &ouml;ğrencileri &ouml;ğrenci topluluklarına &uuml;ye olabilirler. Ancak lisans&uuml;st&uuml; &ouml;ğrencileri topluluğun Y&ouml;netim Kurulu&rsquo;nda g&ouml;rev alamazlar.</span></p>
            <p style="margin-bottom: .0001pt; text-align: justify; text-justify: inter-ideograph; text-indent: 35.4pt; line-height: normal;"><span style="font-size: 12.0pt; ">Topluluk akademik danışmanı &ouml;ğrenci topluluğunun doğal &uuml;yesidir. Ancak se&ccedil;me ve se&ccedil;ilme hakkı yoktur.</span></p>
            <p style="margin-bottom: .0001pt; text-align: justify; text-justify: inter-ideograph; text-indent: 35.4pt; line-height: normal;"><span style="font-size: 12.0pt; ">D&uuml;zce &Uuml;niversitesi akademik ve idari personeli &ouml;ğrenci topluluğu Genel Kurulu&rsquo;nun salt &ccedil;oğunluğunun onayı ile topluluğa fahri &uuml;ye olabilir ve &ccedil;alışmalara katılabilirler. Ancak se&ccedil;me ve se&ccedil;ilme hakları yoktur.</span></p>
            <p style="margin-bottom: .0001pt; text-align: justify; text-justify: inter-ideograph; text-indent: 35.4pt; line-height: normal;"><span style="font-size: 12.0pt; ">D&uuml;zce &Uuml;niversitesi akademik-idari personeli ve &ouml;ğrencileri dışındaki kişiler, &ouml;ğrenci topluluklarına &uuml;ye olamazlar. Ancak &uuml;niversite dışından gelen &ccedil;alıştırıcı, eğitmen gibi g&ouml;revli kişiler Rekt&ouml;rl&uuml;k makamının onayı ile &ccedil;alıştırıcı, eğitmen olabilirler.</span></p>
            <p style="margin-bottom: .0001pt; text-align: justify; text-justify: inter-ideograph; text-indent: 35.4pt; line-height: normal;"><span style="font-size: 12.0pt; ">Bir kişi birden fazla &ouml;ğrenci topluluğuna &uuml;ye olabilir ancak aynı anda birden fazla topluluğun Y&ouml;netim Kurulu&rsquo;nda ve/veya Denetleme Kurulu&rsquo;nda g&ouml;rev alamaz. Bu durumu saptanan kişinin her topluluktaki Y&ouml;netim Kurulu ve/veya Denetleme Kurulu&rsquo;ndaki g&ouml;revi sona erer.</span></p>
            <p style="margin-bottom: .0001pt; text-align: justify; text-justify: inter-ideograph; text-indent: 35.4pt; line-height: normal;"><span style="font-size: 12.0pt; ">&Ouml;ğrenci toplulukları, yıl boyu s&uuml;ren etkinliklerden yararlanarak, &ouml;ğrenci toplulukları tanıtım festivali, bahar şenliği, gazete/dergi reklamları, el ilanları aracılığı ile tanıtım ve reklamlarını yapabilir ve &uuml;ye sayılarını artırabilirler.</span></p>
            <p style="margin-bottom: .0001pt; text-align: justify; text-justify: inter-ideograph; text-indent: 35.4pt; line-height: normal;"><span style="font-size: 12.0pt; ">&nbsp;</span></p>
            <p style="margin-bottom: .0001pt; text-align: justify; text-justify: inter-ideograph; text-indent: 35.4pt; line-height: normal;"><span style="font-size: 12.0pt; ">&nbsp;</span></p>
            <ol>
                <li style="text-align: justify; text-justify: inter-ideograph; line-height: normal; margin: 0cm 0cm .0001pt 27.0pt;"><u><span style="font-size: 12.0pt; ">ii) ÜYELİKTEN &Ccedil;IKMA/&Ccedil;IKARILMA</span></u></li>
            </ol>
            <p style="margin-bottom: .0001pt; text-align: justify; text-justify: inter-ideograph; text-indent: 35.4pt; line-height: normal;"><span style="font-size: 12.0pt; ">Topluluk &uuml;yesi &ouml;ğrencilerin Genel Kurul toplantısına, mazeretsiz &uuml;st &uuml;ste &uuml;&ccedil; kez katılmamaları veya mezun olmaları durumlarında topluluk &uuml;yelikleri kendiliğinden sona erer.</span></p>
            <p style="margin-bottom: .0001pt; text-align: justify; text-justify: inter-ideograph; text-indent: 35.4pt; line-height: normal;"><span style="font-size: 12.0pt; ">&nbsp;</span></p>
            <ul>
                <li style="text-align: justify; text-justify: inter-ideograph; line-height: normal; margin: 0cm 0cm .0001pt 27.0pt;"><u><span style="font-size: 12.0pt; ">iii) ÜYELİKLERİN DONDURULMA KOŞULLARI</span></u></li>
            </ul>
            <p style="margin-bottom: .0001pt; text-align: justify; text-justify: inter-ideograph; text-indent: 35.4pt; line-height: normal;"><span style="font-size: 12.0pt; ">Uzaklaştırma cezası alan &ouml;ğrencilerin topluluk &uuml;yelikleri cezaları s&uuml;resince dondurulur.</span></p>
            <p style="margin-bottom: .0001pt; text-align: justify; text-justify: inter-ideograph; text-indent: 35.4pt; line-height: normal;"><span style="font-size: 12.0pt; ">&nbsp;</span></p>
            <ol start="5">
                <li style="margin-bottom: .0001pt; text-align: justify; text-justify: inter-ideograph; line-height: normal;">
                    <strong><span style="font-size: 12.0pt; ">TOPLULUK ORGANLARI</span></strong>
                    <ol>
                        <li style="text-align: justify; text-justify: inter-ideograph; line-height: normal; margin: 0cm 0cm .0001pt 54.0pt;"><u><span style="font-size: 12.0pt; ">GENEL KURUL</span></u></li>
                    </ol>
                </li>
            </ol>
            <p style="margin-bottom: .0001pt; text-align: justify; text-justify: inter-ideograph; text-indent: 35.4pt; line-height: normal;"><span style="font-size: 12.0pt; ">Topluluğun en yetkili karar organıdır. Topluluğa kayıtlı t&uuml;m &uuml;yelerden oluşur. Genel Kurul&rsquo;un olağan toplantısı her akademik yılın ilk altı (6) haftası i&ccedil;erisinde, &uuml;yelerin yarıdan bir fazlasının katılması ile ger&ccedil;ekleştirilir. İlk toplantıda yeterli sayı sağlanamazsa, ilk toplantı tarihinden en ge&ccedil; 1 hafta sonra ikinci toplantı d&uuml;zenlenir ve bu toplantıda &ccedil;oğunluk aranmaz. Ancak, ikinci toplantıya katılan &uuml;ye sayısı topluluk Y&ouml;netim ve Denetleme Kurulları asil &uuml;ye tam sayıları toplamının iki katından az olamaz.</span></p>
            <p style="margin-bottom: .0001pt; text-align: justify; text-justify: inter-ideograph; text-indent: 35.4pt; line-height: normal;"><span style="font-size: 12.0pt; ">Genel Kurul&rsquo;un olağan&uuml;st&uuml; toplantısı topluluk Y&ouml;netim ve Denetleme Kurullarının veya Sağlık K&uuml;lt&uuml;r ve Spor Daire Başkanlığı K&uuml;lt&uuml;r İşleri M&uuml;d&uuml;rl&uuml;ğ&uuml;&rsquo;n&uuml;n gerekli g&ouml;rd&uuml;ğ&uuml; hallerde veya topluluk &uuml;yelerinin 2/3&rsquo;&uuml;n&uuml;n yazılı isteği &uuml;zerine yapılır. </span></p>
            <p style="margin-bottom: .0001pt; text-align: justify; text-justify: inter-ideograph; text-indent: 35.4pt; line-height: normal;"><span style="font-size: 12.0pt; ">Genel Kurul&rsquo;un olağan ve olağan&uuml;st&uuml; toplantıları en az 1 hafta &ouml;nceden topluluk &uuml;yelerine duyurulur. Olağan veya olağan&uuml;st&uuml; toplantılarda toplantı tutanağının tutulması ve topluluk akademik danışmanı tarafından onaylanması zorunludur. Toplantı tutanaklarının toplantının ger&ccedil;ekleştirildiği tarihten en ge&ccedil; 1 hafta sonra Sağlık K&uuml;lt&uuml;r ve Spor Daire Başkanlığı K&uuml;lt&uuml;r İşleri M&uuml;d&uuml;rl&uuml;ğ&uuml;&rsquo;ne teslim edilmesi gerekmektedir.</span></p>
            <p style="margin-bottom: .0001pt; text-align: justify; text-justify: inter-ideograph; text-indent: 35.4pt; line-height: normal;"><span style="font-size: 12.0pt; ">Genel Kurul&rsquo;un g&ouml;revleri şunlardır;</span></p>
            <ol>
                <li style="margin-bottom: .0001pt; text-align: justify; text-justify: inter-ideograph; line-height: normal;"><span style="font-size: 12.0pt; ">a) Varsa t&uuml;z&uuml;k değişiklik &ouml;nerilerini g&ouml;r&uuml;ş&uuml;p karar bağlar.</span></li>
                <li style="margin-bottom: .0001pt; text-align: justify; text-justify: inter-ideograph; line-height: normal;"><span style="font-size: 12.0pt; ">b) Y&ouml;netim Kurulu ve Denetleme Kurulu asil ve yedek &uuml;yelerini se&ccedil;er.</span></li>
                <li style="margin-bottom: .0001pt; text-align: justify; text-justify: inter-ideograph; line-height: normal;"><span style="font-size: 12.0pt; ">c) Topluluğun d&ouml;nem sonu faaliyet raporunu ve mali b&uuml;t&ccedil;e &ccedil;izelgesini karara bağlar.</span></li>
                <li style="margin-bottom: .0001pt; text-align: justify; text-justify: inter-ideograph; line-height: normal;"><span style="font-size: 12.0pt; ">d) &Uuml;yelikten &ccedil;ıkarma &ouml;nerilerini karar bağlar.</span></li>
            </ol>
            <p style="margin-bottom: .0001pt; text-align: justify; text-justify: inter-ideograph; line-height: normal;"><span style="font-size: 12.0pt; ">&nbsp;</span></p>
            <ol>
                <li style="text-align: justify; text-justify: inter-ideograph; line-height: normal; margin: 0cm 0cm .0001pt 54.0pt;"><u><span style="font-size: 12.0pt; ">Y&Ouml;NETİM KURULU</span></u></li>
            </ol>
            <p style="margin-bottom: .0001pt; text-align: justify; text-justify: inter-ideograph; text-indent: 35.4pt; line-height: normal;"><span style="font-size: 12.0pt; ">Y&ouml;netim Kurulu, Genel Kurul&rsquo;un her akademik yılın ilk altı (6) haftası i&ccedil;erisinde ger&ccedil;ekleştirilen olağan toplantısında o akademik yıl i&ccedil;in se&ccedil;ilen 5 asil, 2 yedek &uuml;yeden oluşur. Y&ouml;netim Kurulu bir akademik yılı g&ouml;rev yapar. Y&ouml;netim Kurulu&rsquo;na se&ccedil;ilen &uuml;yeler kendi aralarında g&ouml;rev paylaşımı yaparak başkan, başkan yardımcısı, genel sekreter ve saymanı se&ccedil;erler. Y&ouml;netim kurulu başkanı aynı zamanda topluluk başkanıdır. Y&ouml;netim kurulunun t&uuml;m &ccedil;alışmaları, topluluk akademik danışmanının bilgisi dahilinde ger&ccedil;ekleşir. Herhangi bir disiplin cezası alan &ouml;ğrenciler topluluğun Y&ouml;netim Kurulu&rsquo;nda g&ouml;rev alamazlar. Y&ouml;netim kurulu asıl ve yedek &uuml;yelerinin &ccedil;oğunluğunun istifasıyla Y&ouml;netim Kurulu feshedilir.</span></p>
            <p style="margin-bottom: .0001pt; text-align: justify; text-justify: inter-ideograph; text-indent: 35.4pt; line-height: normal;"><span style="font-size: 12.0pt; ">Topluluk başkanı topluluk etkinliklerinin ger&ccedil;ekleştirilmesinde ilgili evrakların ve prosed&uuml;r&uuml;n yerine getirilmesini ve toplulukla Sağlık K&uuml;lt&uuml;r ve Spor Daire Başkanlığı K&uuml;lt&uuml;r İşleri Şube M&uuml;d&uuml;rl&uuml;ğ&uuml; arasındaki iletişimi sağlar.</span></p>
            <p style="margin-bottom: .0001pt; text-align: justify; text-justify: inter-ideograph; line-height: normal;"><span style="font-size: 12.0pt; ">&nbsp;</span></p>
            <p style="margin-bottom: .0001pt; text-align: justify; text-justify: inter-ideograph; line-height: normal;"><span style="font-size: 12.0pt; ">Y&ouml;netim Kurulu &Uuml;yeleri ve G&ouml;revleri</span></p>
            <ol>
                <li style="margin-bottom: .0001pt; text-align: justify; text-justify: inter-ideograph; line-height: normal;"><span style="font-size: 12.0pt; ">a) Başkan: &Ouml;ğrenci Topluluğunu ve Y&ouml;netim Kurulunu temsil eder. </span></li>
            </ol>
            <p style="margin-bottom: .0001pt; text-align: justify; text-justify: inter-ideograph; line-height: normal;"><span style="font-size: 12.0pt; ">&nbsp;&nbsp;&nbsp; -Topluluk akademik danışmanı ile birlikte topluluk karar defterinin tutulmasından sorumludur.</span></p>
            <p style="margin-bottom: .0001pt; text-align: justify; text-justify: inter-ideograph; line-height: normal;"><span style="font-size: 12.0pt; ">&nbsp;&nbsp;&nbsp; -Topluluk akademik danışmanının her hangi bir nedenle değişmesi ile ilgili olarak, dilek&ccedil;e ile Sağlık K&uuml;lt&uuml;r ve Spor Daire Başkanlığı K&uuml;lt&uuml;r İşleri Şube M&uuml;d&uuml;rl&uuml;ğ&uuml;&rsquo;ne başvuruda bulunur. </span></p>
            <p style="margin-bottom: .0001pt; text-align: justify; text-justify: inter-ideograph; line-height: normal;"><span style="font-size: 12.0pt; ">&nbsp;&nbsp; -Topluluk &uuml;yeleri arasında dayanışmayı sağlar.</span></p>
            <p style="margin-bottom: .0001pt; text-align: justify; text-justify: inter-ideograph; line-height: normal;"><span style="font-size: 12.0pt; ">&nbsp;&nbsp; - Y&ouml;netim Kurulu toplantılarını d&uuml;zenler. Toplantının ger&ccedil;ekleştirileceği tarih, saat ve yere karar verir.</span></p>
            <p style="margin-bottom: .0001pt; text-align: justify; text-justify: inter-ideograph; line-height: normal;"><span style="font-size: 12.0pt; ">&nbsp;&nbsp; - Acil durumlarda Y&ouml;netim Kurulu&rsquo;nu toplantıya &ccedil;ağırır.</span></p>
            <p style="margin-bottom: .0001pt; text-align: justify; text-justify: inter-ideograph; line-height: normal;"><span style="font-size: 12.0pt; ">&nbsp;&nbsp; - Topluluğun her t&uuml;rl&uuml; harcama ve tasarrufundan sayman ile birlikte sorumludur.</span></p>
            <p style="margin-bottom: .0001pt; text-align: justify; text-justify: inter-ideograph; line-height: normal;"><span style="font-size: 12.0pt; ">&nbsp;&nbsp; - Y&ouml;netim Kurulu&rsquo;nda alınan kararlardan sorumludur.</span></p>
            <p style="margin-bottom: .0001pt; text-align: justify; text-justify: inter-ideograph; line-height: normal;"><span style="font-size: 12.0pt; ">&nbsp;&nbsp; - Her akademik yılın Mayıs ayının 15&rsquo;i ile 30&rsquo;u arasında belirlenen tarih, saat ve yerde Genel Kurulu toplar. </span></p>
            <p style="margin-bottom: .0001pt; text-align: justify; text-justify: inter-ideograph; line-height: normal;"><span style="font-size: 12.0pt; ">&nbsp;&nbsp; - Topluluğun y&ouml;netim ve mali işlemlerinin eksiksiz olarak yeni y&ouml;netime devredilmesinde Y&ouml;netim Kurulu &uuml;yeleri ile birlikte aracı ve yardımcı olur.</span></p>
            <p style="margin-bottom: .0001pt; text-align: justify; text-justify: inter-ideograph; line-height: normal;"><span style="font-size: 12.0pt; ">&nbsp;</span></p>
            <ol>
                <li style="margin-bottom: .0001pt; text-align: justify; text-justify: inter-ideograph; line-height: normal;"><span style="font-size: 12.0pt; ">b) Başkan Yardımcısı: Topluluk başkanının bulunmadığı zaman ve durumlarda &ouml;ğrenci topluluğunu ve Y&ouml;netim Kurulu&rsquo;nu temsil eder. </span></li>
            </ol>
            <p style="margin-bottom: .0001pt; text-align: justify; text-justify: inter-ideograph; line-height: normal;"><span style="font-size: 12.0pt; ">&nbsp;&nbsp; - Topluluk başkanının bulunmadığı zaman ve durumlarda topluluğa başkanlık eder ve b&ouml;yle durumlarda başkanın t&uuml;m g&ouml;rev ve yetkilerine sahip olur.</span></p>
            <p style="margin-bottom: .0001pt; text-align: justify; text-justify: inter-ideograph; line-height: normal;"><span style="font-size: 12.0pt; ">&nbsp;&nbsp; - Topluluk başkanının g&ouml;revlerinin ger&ccedil;ekleştirilmesinde başkana yardımcı olur.</span></p>
            <p style="margin-bottom: .0001pt; text-align: justify; text-justify: inter-ideograph; line-height: normal;"><span style="font-size: 12.0pt; ">&nbsp;&nbsp; - Topluluk alt &ccedil;alışma gruplarını denetler ve Y&ouml;netim Kurulu&rsquo;na rapor verir.</span></p>
            <p style="margin-bottom: .0001pt; text-align: justify; text-justify: inter-ideograph; line-height: normal;"><span style="font-size: 12.0pt; ">&nbsp;&nbsp; - Topluluk başkan yardımcısının diğer g&ouml;rev ve yetkilerini her topluluk kendi i&ccedil; t&uuml;z&uuml;ğ&uuml;nde belirtir.</span></p>
            <p style="margin-bottom: .0001pt; text-align: justify; text-justify: inter-ideograph; line-height: normal;"><span style="font-size: 12.0pt; ">&nbsp;</span></p>
            <ol>
                <li style="margin-bottom: .0001pt; text-align: justify; text-justify: inter-ideograph; line-height: normal;"><span style="font-size: 12.0pt; ">c) Genel Sekreter: &Ouml;ğrenci topluluğunda haberleşmeyi sağlayan, yazışma yapabilen g&ouml;revlidir.</span></li>
            </ol>
            <p style="margin-bottom: .0001pt; text-align: justify; text-justify: inter-ideograph; line-height: normal;"><span style="font-size: 12.0pt; ">&nbsp;&nbsp; - Topluluk akademik danışmanı ile birlikte topluluğun t&uuml;m dilek&ccedil;e ve yazışmalarının y&uuml;r&uuml;t&uuml;lmesinden sorumludur.</span></p>
            <p style="margin-bottom: .0001pt; text-align: justify; text-justify: inter-ideograph; line-height: normal;"><span style="font-size: 12.0pt; ">&nbsp;&nbsp; - Genel Kurul toplantılarında, topluluk &uuml;yelerine topluluğun yaptığı etkinlikleri a&ccedil;ıklar.</span></p>
            <p style="margin-bottom: .0001pt; text-align: justify; text-justify: inter-ideograph; line-height: normal;"><span style="font-size: 12.0pt; ">&nbsp;&nbsp; - Topluluk i&ccedil;in &ouml;nemli olan kitap, dergi, belge, CD, videokasetler, fotoğraf, disket vb. g&ouml;rsel-işitsel dok&uuml;manları arşivler ve bu dok&uuml;manları gerektiğinde kullanılması i&ccedil;in &uuml;yelerin kullanımına sunar.</span></p>
            <p style="margin-bottom: .0001pt; text-align: justify; text-justify: inter-ideograph; line-height: normal;"><span style="font-size: 12.0pt; ">&nbsp;&nbsp; - Karar Defteri, , Gelen-Giden Evrak Kayıt Defteri, &Uuml;ye Kayıt Defteri, Genel Kurul tutanakları ve topluluk ile ilgili diğer defterlerin tutulmasından ve arşivlenmesinden sorumludur.</span></p>
            <p style="margin-bottom: .0001pt; text-align: justify; text-justify: inter-ideograph; line-height: normal;"><span style="font-size: 12.0pt; ">&nbsp;&nbsp; - Topluluk genel sekreterinin diğer g&ouml;rev ve yetkilerini her topluluk kendi i&ccedil; t&uuml;z&uuml;ğ&uuml;nde belirtir.</span></p>
            <p style="margin-bottom: .0001pt; text-align: justify; text-justify: inter-ideograph; line-height: normal;"><span style="font-size: 12.0pt; ">&nbsp;</span></p>
            <ol>
                <li style="margin-bottom: .0001pt; text-align: justify; text-justify: inter-ideograph; line-height: normal;"><span style="font-size: 12.0pt; ">d) Sayman: &Ouml;ğrenci topluluğunda hesap işleri ile uğraşan g&ouml;revlidir.</span></li>
            </ol>
            <p style="margin-bottom: .0001pt; text-align: justify; text-justify: inter-ideograph; line-height: normal;"><span style="font-size: 12.0pt; ">&nbsp;&nbsp; - Topluluk akademik danışmanı ile birlikte harcamaların belgeye dayalı olmasından, &uuml;yelik aidat makbuzları ile İşletme Hesabı Defteri ve Demirbaş Defteri kayıtlarının d&uuml;zenli ve usul&uuml;ne uygun olarak tutulmasından sorumludur.</span></p>
            <p style="margin-bottom: .0001pt; text-align: justify; text-justify: inter-ideograph; line-height: normal;"><span style="font-size: 12.0pt; ">&nbsp;&nbsp; - İşletme Hesabı Defteri ve Demirbaş Defteri&rsquo;nin tutulmasından ve arşivlenmesinden sorumludur.</span></p>
            <p style="margin-bottom: .0001pt; text-align: justify; text-justify: inter-ideograph; line-height: normal;"><span style="font-size: 12.0pt; ">&nbsp;&nbsp; - Y&ouml;netim Kurulu Başkanına danışarak gelecek d&ouml;neme ait topluluk b&uuml;t&ccedil;esini hazırlar ve Y&ouml;netim Kurulu&rsquo;nun onayına sunar.</span></p>
            <p style="margin-bottom: .0001pt; text-align: justify; text-justify: inter-ideograph; line-height: normal;"><span style="font-size: 12.0pt; ">&nbsp;&nbsp; - Genel Kurul toplantılarında, topluluk &uuml;yelerine topluluğun gelir-gider durumunu a&ccedil;ıklar.</span></p>
            <p style="margin-bottom: .0001pt; text-align: justify; text-justify: inter-ideograph; line-height: normal;"><span style="font-size: 12.0pt; ">&nbsp;&nbsp; - Topluluk i&ccedil;in gerekli temel demirbaşların ve malzemelerin temininden sorumludur.</span></p>
            <p style="margin-bottom: .0001pt; text-align: justify; text-justify: inter-ideograph; line-height: normal;"><span style="font-size: 12.0pt; ">&nbsp;&nbsp; - Yapılacak etkinlikler i&ccedil;in kullanılacak temel malzemelerin ve demirbaşların temininden sorumludur.</span></p>
            <p style="margin-bottom: .0001pt; text-align: justify; text-justify: inter-ideograph; line-height: normal;"><span style="font-size: 12.0pt; ">&nbsp;&nbsp; - Topluluğun yapacağı etkinlikler i&ccedil;in Y&ouml;netim Kurulu&rsquo;nun onayladığı şekilde mali kaynak bulmaya ve/veya sponsor ya da reklam bulmaya &ccedil;alışır.</span></p>
            <p style="margin-bottom: .0001pt; text-align: justify; text-justify: inter-ideograph; line-height: normal;"><span style="font-size: 12.0pt; ">&nbsp;&nbsp; - Topluluk y&ouml;nergesine uygunluğunun denetlenmesi şartı ile topluluk i&ccedil;in yeni gelir kaynakları yaratmaya &ccedil;alışır.</span></p>
            <p style="margin-bottom: .0001pt; text-align: justify; text-justify: inter-ideograph; line-height: normal;"><span style="font-size: 12.0pt; ">&nbsp;&nbsp; - Topluluk saymanının diğer g&ouml;rev ve yetkilerini her topluluk kendi i&ccedil; t&uuml;z&uuml;ğ&uuml;nde belirtir.</span></p>
            <p style="margin-bottom: .0001pt; text-align: justify; text-justify: inter-ideograph; line-height: normal;"><span style="font-size: 12.0pt; ">&nbsp;</span></p>
            <p style="margin-bottom: .0001pt; text-align: justify; text-justify: inter-ideograph; line-height: normal;"><em><u><span style="font-size: 12.0pt; ">(1)Y&Ouml;NETİM KURULUNUN G&Ouml;REV VE YETKİLERİ</span></u></em></p>
            <p style="margin-bottom: .0001pt; text-align: justify; text-justify: inter-ideograph; text-indent: 35.4pt; line-height: normal;"><span style="font-size: 12.0pt; ">Y&ouml;netim Kurulu&rsquo;nun g&ouml;revleri şunlardır;</span></p>
            <ol>
                <li style="margin-bottom: .0001pt; text-align: justify; text-justify: inter-ideograph; line-height: normal;"><span style="font-size: 12.0pt; ">a) Yıllık &ccedil;alışma programını hazırlar ve uygular.</span></li>
                <li style="margin-bottom: .0001pt; text-align: justify; text-justify: inter-ideograph; line-height: normal;"><span style="font-size: 12.0pt; ">b) Genel Kurul toplantılarının g&uuml;n, saat ve yerini belirler.</span></li>
                <li style="margin-bottom: .0001pt; text-align: justify; text-justify: inter-ideograph; line-height: normal;"><span style="font-size: 12.0pt; ">c) Genel Kurul tarafından verilen g&ouml;revleri yapar, topluluğun ama&ccedil;larının ve &ccedil;alışma konularının ger&ccedil;ekleştirilmesini sağlar.</span></li>
                <li style="margin-bottom: .0001pt; text-align: justify; text-justify: inter-ideograph; line-height: normal;"><span style="font-size: 12.0pt; ">d) Alt &ccedil;alışma grupları kurar ve bu grupların &ccedil;alışmalarını denetler.</span></li>
                <li style="margin-bottom: .0001pt; text-align: justify; text-justify: inter-ideograph; line-height: normal;"><span style="font-size: 12.0pt; ">e) Yeni &uuml;ye kabul&uuml;, &uuml;yeliklerin g&uuml;ncellenmesi işlemlerini y&uuml;r&uuml;t&uuml;r.</span></li>
                <li style="margin-bottom: .0001pt; text-align: justify; text-justify: inter-ideograph; line-height: normal;"><span style="font-size: 12.0pt; ">f) - Gelecek d&ouml;neme ait topluluk etkinlik planı ve b&uuml;t&ccedil;esini </span></li>
            </ol>
            <p style="margin-bottom: .0001pt; text-align: justify; text-justify: inter-ideograph; line-height: normal;"><span style="font-size: 12.0pt; ">&nbsp;&nbsp;&nbsp; - Topluluk başkanı, topluluk y&ouml;netim ve denetleme kurulu &uuml;yeleri ve &uuml;ye listelerini </span></p>
            <p style="margin-bottom: .0001pt; text-align: justify; text-justify: inter-ideograph; line-height: normal;"><span style="font-size: 12.0pt; ">&nbsp;&nbsp;&nbsp; - Yıl i&ccedil;inde ger&ccedil;ekleştirilen topluluk faaliyet raporunu her akademik yılın Mayıs ayının 15&rsquo;i ile 30&rsquo;u arasında Sağlık K&uuml;lt&uuml;r ve Spor Daire Başkanlığı K&uuml;lt&uuml;r İşleri Şube M&uuml;d&uuml;rl&uuml;ğ&uuml;&rsquo;ne sunar.</span></p>
            <ol>
                <li style="margin-bottom: .0001pt; text-align: justify; text-justify: inter-ideograph; line-height: normal;"><span style="font-size: 12.0pt; ">g) Topluluğa akademik danışman atanması s&uuml;recinde, topluluk akademik danışman adayı olan iki ismi Sağlık K&uuml;lt&uuml;r ve Spor Daire Başkanlığı K&uuml;lt&uuml;r İşleri Şube M&uuml;d&uuml;rl&uuml;ğ&uuml;&rsquo;ne yazılı olarak sunar.</span></li>
                <li style="margin-bottom: .0001pt; text-align: justify; text-justify: inter-ideograph; line-height: normal;"><span style="font-size: 12.0pt; ">h) Topluluğun yapacağı etkinlikler i&ccedil;in Sağlık k&uuml;lt&uuml;r ve Spor Daire Başkanlığı K&uuml;lt&uuml;r İşleri Şube M&uuml;d&uuml;rl&uuml;ğ&uuml;n&uuml;n ilgili prosed&uuml;rlerini kullanarak, topluluk danışmanının bilgisi dahilinde Rekt&ouml;rl&uuml;kten izin alır.</span></li>
                <li style="margin-bottom: .0001pt; text-align: justify; text-justify: inter-ideograph; line-height: normal;"><span style="font-size: 12.0pt; ">i) Topluluğa alınan demirbaş eşyayı, Sağlık K&uuml;lt&uuml;r ve Spor Daire Başkanlığı K&uuml;lt&uuml;r İşleri Şube M&uuml;d&uuml;rl&uuml;ğ&uuml; kanalı ile Saymanlığa kaydettirilmesini sağlar.</span></li>
                <li style="margin-bottom: .0001pt; text-align: justify; text-justify: inter-ideograph; line-height: normal;"><span style="font-size: 12.0pt; ">j) Genel kurul tutanağının Sağlık k&uuml;lt&uuml;r ve Spor Daire Başkanlığı K&uuml;lt&uuml;r İşleri Şube M&uuml;d&uuml;rl&uuml;ğ&uuml;&rsquo;ne teslim edilmesini sağlar.</span></li>
            </ol>
            <p style="margin-bottom: .0001pt; text-align: justify; text-justify: inter-ideograph; line-height: normal;"><span style="font-size: 12.0pt; ">&nbsp;</span></p>
            <ul>
                <li style="text-align: justify; text-justify: inter-ideograph; line-height: normal; margin: 0cm 0cm .0001pt 54.0pt;"><u><span style="font-size: 12.0pt; ">DENETLEME KURULU</span></u></li>
            </ul>
            <p style="margin-bottom: .0001pt; text-align: justify; text-justify: inter-ideograph; text-indent: 35.4pt; line-height: normal;"><span style="font-size: 12.0pt; ">Denetleme Kurulu, Genel Kurul&rsquo;un her akademik yılın ilk altı (6) haftası i&ccedil;erisinde ger&ccedil;ekleştirilen olağan toplantısında bir sonraki akademik yıl i&ccedil;in se&ccedil;ilen 3 asil, 2 yedek &uuml;yeden oluşur. Denetleme Kurulu bir akademik yılı g&ouml;rev yapar. Denetleme Kurulu Başkanı Genel Kurul tarafından en &ccedil;ok oyu alan &uuml;ye se&ccedil;ilir. Denetleme Kurulu oy &ccedil;oğunluğu ile karar alır.</span></p>
            <p style="margin-bottom: .0001pt; text-align: justify; text-justify: inter-ideograph; line-height: normal;"><span style="font-size: 12.0pt; ">(1)<em><u>DENETLEME KURULUNUN G&Ouml;REV VE YETKİLERİ</u></em></span></p>
            <p style="margin-bottom: .0001pt; text-align: justify; text-justify: inter-ideograph; text-indent: 35.4pt; line-height: normal;"><span style="font-size: 12.0pt; ">Denetleme Kurulu&rsquo;nun g&ouml;revleri şunlardır;</span></p>
            <ol>
                <li style="text-align: justify; text-justify: inter-ideograph; line-height: normal; margin: 0cm 0cm .0001pt 36.0pt;"><span style="font-size: 12.0pt; ">- Y&ouml;netim Kurulu&rsquo;nda ve Genel Kurul&rsquo;da alınan t&uuml;m kararların, </span></li>
            </ol>
            <ul>
                <li style="text-align: justify; text-justify: inter-ideograph; line-height: normal; margin: 0cm 0cm .0001pt 53.4pt;"><span style="font-size: 12.0pt; ">Topluluk hesaplarının, evrak ve belgelerinin, </span></li>
                <li style="text-align: justify; text-justify: inter-ideograph; line-height: normal; margin: 0cm 0cm .0001pt 53.4pt;"><span style="font-size: 12.0pt; ">Alınan kararların uygulanmasını, şeklen ve esasen D&uuml;zce &Uuml;niversitesi &ouml;ğrenci Toplulukları Y&ouml;nergesi&rsquo;ne ve topluluk i&ccedil; t&uuml;z&uuml;ğ&uuml;ne uygunluk a&ccedil;ısından denetler.</span></li>
            </ul>
            <ol>
                <li style="text-align: justify; text-justify: inter-ideograph; line-height: normal; margin: 0cm 0cm .0001pt 36.0pt;"><span style="font-size: 12.0pt; ">Topluluğun b&uuml;t&ccedil;e ve hesap işlemleri ile ilgili defter ve belgeleri her akademik yılın Mayıs ayının 1&rsquo;i ile 15&rsquo;i arasında inceler, sonu&ccedil;larını bir rapor halinde Y&ouml;netim Kurulu&rsquo;na ve Genel Kurul&rsquo;a sunarlar.</span></li>
                <li style="text-align: justify; text-justify: inter-ideograph; line-height: normal; margin: 0cm 0cm .0001pt 36.0pt;"><span style="font-size: 12.0pt; ">Denetleme Kurulu sorumluluk alanına giren konuları kendiliğinden g&ouml;r&uuml;ş&uuml;r ve denetler.</span></li>
                <li style="text-align: justify; text-justify: inter-ideograph; line-height: normal; margin: 0cm 0cm .0001pt 36.0pt;"><span style="font-size: 12.0pt; ">Topluluğa kayıtlı her &uuml;yenin Denetleme Kurulu&rsquo;na dilek&ccedil;e ile şikayette bulunma hakkı vardır. Denetleme Kurulu &uuml;yeler tarafından gelen şikayetleri inceleme, değerlendirme, karar alma ve şikayette bulunan &uuml;yeye yazılı olarak cevap verme ile sorumludur.</span></li>
                <li style="text-align: justify; text-justify: inter-ideograph; line-height: normal; margin: 0cm 0cm .0001pt 36.0pt;"><span style="font-size: 12.0pt; ">Denetleme Kurulu alacağı kararlarla D&uuml;zce &Uuml;niversitesi &Ouml;ğrenci Toplulukları Y&ouml;nergesi ve topluluk i&ccedil; t&uuml;z&uuml;ğ&uuml;ne aykırı bulduğu eylemleri durdurabilir, eski durumun iadesini isteyebilir, sorumlu bulduğu kişinin topluluktaki g&ouml;revinden alınmasını ya da topluluktan &ccedil;ıkartılması i&ccedil;in Genel Kurul&rsquo;a &ouml;neri sunabilir.</span></li>
            </ol>
            <p style="margin-bottom: .0001pt; text-align: justify; text-justify: inter-ideograph; line-height: normal;"><span style="font-size: 12.0pt; ">&nbsp;</span></p>
            <ol start="6">
                <li style="margin-bottom: .0001pt; text-align: justify; text-justify: inter-ideograph; line-height: normal;"><strong><span style="font-size: 12.0pt; ">AKADEMİK DANIŞMANLIK</span></strong></li>
            </ol>
            <p id="tAdi5" style="text-align: justify; text-justify: inter-ideograph; text-indent: 17.4pt; line-height: normal; margin: 0cm 0cm .0001pt 18.0pt;"><span style="font-size: 12.0pt; ">&Ouml;ğrenci topluluğunun etkinliklerini ger&ccedil;ekleştirmesi s&uuml;recinde bilgi, ilgi ve deneyimlerle topluluğa katkıda bulunarak g&ouml;n&uuml;ll&uuml; &ccedil;alışan akademik personeldir. D&uuml;zce &Uuml;niversitesi @Model.toplulukAdi Topluluğu Y&ouml;netim Kurulu tarafından Sağlık K&uuml;lt&uuml;r ve Spor Daire Başkanlığı&rsquo;na sunulan iki (2) akademik danışman adayı arasından Rekt&ouml;rl&uuml;k Makamı tarafından bir akademik danışman adayı &ouml;ğrenci topluluğu akademik danışmanı olarak g&ouml;revlendirilir. </span></p>
            <p id="tAdi6" style="text-align: justify; text-justify: inter-ideograph; text-indent: 17.4pt; line-height: normal; margin: 0cm 0cm .0001pt 18.0pt;"><span style="font-size: 12.0pt; ">D&uuml;zce &Uuml;niversitesi @Model.toplulukAdi Topluluğu akademik danışmanlığı, topluluk genel kurulu ve akademik danışmanın karşılıklı isteklerine bağlı olarak s&uuml;resiz devam edebilir. Her hangi bir nedenle taraflardan birinin değişiklik istemesi durumunda, topluluk Y&ouml;netim Kurulu Başkanı dilek&ccedil;e ile Sağlık K&uuml;lt&uuml;r ve Spor Daire Başkanlığı&rsquo;na başvuruda bulunur. &Ouml;ğrenci Toplulukları Koordinasyon Kurulu&rsquo;nun başvuruyu uygun g&ouml;rmesi durumunda topluluk akademik danışmanı atanma s&uuml;reci başlatılır.</span></p>
            <p style="text-align: justify; text-justify: inter-ideograph; line-height: normal; margin: 0cm 0cm .0001pt 18.0pt;"><span style="font-size: 12.0pt; ">&nbsp;</span></p>
            <p style="text-align: justify; text-justify: inter-ideograph; line-height: normal; margin: 0cm 0cm .0001pt 18.0pt;"><span style="font-size: 12.0pt; ">&nbsp;Topluluk akademik danışmanının g&ouml;revleri şunlardır;</span></p>
            <ol>
                <li style="text-align: justify; text-justify: inter-ideograph; line-height: normal; margin: 0cm 0cm .0001pt 18.0pt;"><span style="font-size: 12.0pt; ">a) &Uuml;niversite nezdinde, y&uuml;r&uuml;rl&uuml;kte bulunan yasalar ve y&ouml;netmelikler &ccedil;er&ccedil;evesinde &ouml;ğrenci topluluğundan sorumlu kişi olup, topluluğun &ccedil;alışma alanı ile ilgili konularda danışmanlık yapar.</span></li>
                <li style="text-align: justify; text-justify: inter-ideograph; line-height: normal; margin: 0cm 0cm .0001pt 18.0pt;"><span style="font-size: 12.0pt; ">b) &Ouml;ğrenci topluluğunun &Uuml;niversite ile ilgili olan ilişkilerinde yardımcı olur. </span></li>
                <li style="text-align: justify; text-justify: inter-ideograph; line-height: normal; margin: 0cm 0cm .0001pt 18.0pt;"><span style="font-size: 12.0pt; ">c) Topluluk ile ilgili sorunlar yaşandığı zaman, durumu &Ouml;ğrenci Toplulukları Koordinasyon Kurulu&rsquo;na rapor eder.</span></li>
                <li style="text-align: justify; text-justify: inter-ideograph; line-height: normal; margin: 0cm 0cm .0001pt 18.0pt;"><span style="font-size: 12.0pt; ">d) Topluluk başkanı ile birlikte topluluk karar defterinin tutulmasından sorumludur.</span></li>
                <li style="text-align: justify; text-justify: inter-ideograph; line-height: normal; margin: 0cm 0cm .0001pt 18.0pt;"><span style="font-size: 12.0pt; ">e) Topluluk genel sekreteri ile birlikte topluluğun t&uuml;m dilek&ccedil;e ve yazışmalarının y&uuml;r&uuml;t&uuml;lmesinden sorumludur.</span></li>
                <li style="text-align: justify; text-justify: inter-ideograph; line-height: normal; margin: 0cm 0cm .0001pt 18.0pt;"><span style="font-size: 12.0pt; ">f) Topluluk saymanı ile birlikte harcamaların belgeye dayalı olmasından, &uuml;yelik aidat makbuzları ile İşletme Hesabı Defteri ve Demirbaş Defteri kayıtlarının d&uuml;zenli ve usul&uuml;ne uygun olarak tutulmasından sorumludur.</span></li>
                <li style="text-align: justify; text-justify: inter-ideograph; line-height: normal; margin: 0cm 0cm .0001pt 18.0pt;"><span style="font-size: 12.0pt; ">g) Rekt&ouml;rl&uuml;k Makamı veya &Ouml;ğrenci Toplulukları Koordinasyon Kurulu tarafından d&uuml;zenlenecek Akademik Danışman toplantılarına katılarak topluluklar arasında anlayış ve işbirliğinin sağlıklı bir şekilde y&uuml;r&uuml;t&uuml;lmesine katkıda bulunur.</span></li>
            </ol>
            <p style="text-align: justify; text-justify: inter-ideograph; line-height: normal; margin: 0cm 0cm .0001pt 18.0pt;"><span style="font-size: 12.0pt; ">&nbsp;</span></p>
            <ol start="7">
                <li style="margin-bottom: .0001pt; text-align: justify; text-justify: inter-ideograph; line-height: normal;"><strong><span style="font-size: 12.0pt; ">Y&Uuml;R&Uuml;RL&Uuml;K</span></strong></li>
            </ol>
            <p style="margin-bottom: .0001pt; text-align: justify; text-justify: inter-ideograph; text-indent: 18.0pt; line-height: normal;"><span style="font-size: 12.0pt; ">Topluluk T&uuml;z&uuml;ğ&uuml;&rsquo;n&uuml;n, &Ouml;ğrenci Toplulukları Koordinasyon Kurulu&rsquo;nda kabul edildiği tarihte y&uuml;r&uuml;rl&uuml;ğe girdiği belirtilir.</span></p>
            <p style="margin-bottom: .0001pt; text-align: justify; text-justify: inter-ideograph; line-height: normal;">&nbsp;</p>
            <p>&nbsp;</p>
            <p style="text-indent: 35.4pt;">&nbsp;</p>
        </div>


    </div>
</body>
</html>
