
@{
    if (Session["Admin"] != null)
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
}

@using Community_Appeal_Web_Application.Models

@{
    GOgrenciListesi baskan = (GOgrenciListesi)TempData["baskan"];
}

@model Guncelle


@if (ViewBag.Hata != null)
{
    <div class="alert alert-block alert-danger fade in">
        <button data-dismiss="alert" class="close close-sm" type="button">
            <i class="icon-remove"></i>
        </button>
        <strong>@ViewBag.Hata</strong>
    </div>
}

@{
    if (Model != null)
    {
        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">
                        Ek 4 - Faaliyet Planı
                    </header>
                    <div class="panel-body">
                        <text><span style="color: red">* </span>Aşağıdaki formları sırası ile doldurunuz.</text><br />
                        <text><span style="color: red">* </span>Aşağıdaki formda faaliyet alanı için 5 adet faaliyet giriniz..</text><br />
                        <text><span style="color: red">* </span>Topluluğunuza ait bilgileri giriniz.</text><br />
                        @if (Model.adimNo >= 4)
                        {
                            <a href="/Guncelle/form4" style="margin-left: 5px;float: right" class="btn btn-primary">Form 4</a>
                        }
                    </div>

                </section>

            </div>
        </div>


        if (Model.adimNo == 3)
        {
           
            <div class="row">
                <div class="col-lg-6">
                    <section class="panel">
                        <header class="panel-heading">
                            Form 4 - Faaliyet Ekleme
                        </header>
                        <div class="panel-body">
                            <form role="form" method="post" action="/Guncelle/faaliyetPlaniEkle">
                                <div class="form-group">
                                    <label>Faliyet Türü:</label>
                                    <input name="faliyetTürü" type="text" class="form-control" id="faliyetTürü" required>
                                </div>
                                <div class="form-group">
                                    <label>Faliyet Konusu/İçeriği:</label>
                                    <input name="faliyetAmaci" type="text" class="form-control" id="faliyetAmaci" required>
                                </div>
                                <div class="form-group">
                                    <label>Faliyet Tarihi:</label>
                                    <input name="tarih" type="date" class="form-control" id="tarih" required>
                                </div>
                                <div class="form-group">
                                    <label>Faliyet Yerleşkesi:</label>
                                    <input name="yerleske" type="text" class="form-control" id="yerleske" required>
                                </div>
                                <a id="ekle" style="margin-right: 5px; float: right;" class="btn btn-success">Ekle</a>
                            </form>
                        </div>
                    </section>
                </div>
                <div class="col-lg-6">
                    <section class="panel">
                        <header class="panel-heading">
                            Form 4 - Toplanti Bilgileri
                        </header>
                        <div class="panel-body">
                            <div class="panel-body">
                                <form role="form" method="post" action="/Guncelle/form3">
                                    <div class="form-group">
                                        <label>Topluluk Başkanı</label>
                                        <select class="form-control" name="ID" id="ID" required>
                                            <option value="">Topluluk Başkanı Seçiniz..</option>
                                            @foreach (var item in ViewBag.Ogreciler)
                                            {
                                                <option value="@item.ID"> @item.adi @item.soyadi</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Toplantı Tarihi:</label>
                                        <input name="toplantiTarihi" type="date" class="form-control" id="toplantiTarihi" required>
                                    </div>
                                    <div class="form-group">
                                        <label>Toplantı Saati:</label>
                                        <input name="saat" type="time" class="form-control" id="saat" required>
                                    </div>
                                    <div class="form-group">
                                        <label>Toplantı Numarası:</label>
                                        <input name="toplantiNo" type="number" class="form-control" id="toplantiNo" required>
                                    </div>
                                    <div class="form-group">
                                        <label>Toplantı yeri:</label>
                                        <input name="mekan" type="text" class="form-control" required>
                                    </div>
                                    <button type="submit" id="button" style="margin-right: 5px; float: right;" class="btn btn-info">Kaydet</button>
                                </form>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <section class="panel">
                        <header class="panel-heading">
                            Form 4
                        </header>
                        <div class="panel-body" align="center" style="padding: 200px">
                            <p>&nbsp;</p>
                            <p style="text-align: center; tab-stops: 133.5pt;"><strong><span style="font-size: 12.0pt; line-height: 115%; font-family: 'Times New Roman', 'serif';">@DateTime.Now.Year-@DateTime.Now.AddYears(+1).Year AKADEMİK YILI FAALİYET PLANI</span></strong></p><br /><br /><br />
                            <p style="text-align: center; tab-stops: 133.5pt;"><span style="font-size: 12.0pt; line-height: 115%; font-family: 'Times New Roman', 'serif';">&nbsp;</span></p>
                            <p style="text-align: justify; text-indent: 35.45pt; tab-stops: 133.5pt;"><span style="font-size: 12.0pt; line-height: 115%; font-family: 'Times New Roman', 'serif';">D&uuml;zce &Uuml;niversitesi <b> @Model.toplulukAdi.ToUpper() </b> Topluluğu .... tarihinde saat &hellip;..de (mekan ismi yazılacak, &ouml;rneğin; Sosyal tesisler vb.) de,.... .... .ıncı (birinci, ikinci, &uuml;&ccedil;&uuml;nc&uuml; vb.) olağan genel kurul toplantısında alınan karar doğrultusunda;<b> @DateTime.Now.Year-@DateTime.Now.AddYears(+1).Year </b>Akademik yılında ger&ccedil;ekleştirilmesi planlanan faaliyetler aşağıda sunulmuştur. </span></p>
                            <p style="text-indent: 35.45pt; tab-stops: 133.5pt;"><span style="font-size: 12.0pt; line-height: 115%; font-family: 'Times New Roman', 'serif';">&nbsp;</span></p>
                            <br /><br /><br /><br /><br /><br />
                            <div class="append">
                                @{
                                    Html.RenderAction("faaliyetPlaniWidget");
                                }
                            </div>


                            <p style="tab-stops: 133.5pt;"><span style="font-size: 12.0pt; line-height: 115%; font-family: 'Times New Roman', 'serif';">&nbsp;</span></p>
                            <p style="tab-stops: 133.5pt;"><span style="font-size: 12.0pt; line-height: 115%; font-family: 'Times New Roman', 'serif';">Topluluk Başkanı - İmza&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Topluluk Danışmanı</span></p>
                            <p style="tab-stops: 133.5pt;"><span style="font-size: 12.0pt; line-height: 115%; font-family: 'Times New Roman', 'serif';">@Model.baskanAdi @Model.baskanSoyadi&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Danışman Adı soyadı</span></p>
                            <p>&nbsp;</p>
                        </div>
                    </section>
                </div>
            </div>

        }
        else
        {
            

            <div class="row">
                <div class="col-lg-6">
                    <section class="panel" style="padding-bottom:40px;">
                        <header class="panel-heading">
                            Form 4 - Faaliyet Plani
                        </header>
                        <div class="panel-body">
                            <form role="form" method="post" action="/Guncelle/faaliyetPlaniEkle">
                                <div class="form-group">
                                    <label>Faliyet Türü:</label>
                                    <input name="faliyetTürü" type="text" class="form-control" id="faliyetTürü" required>
                                </div>
                                <div class="form-group">
                                    <label>Faliyet Konusu/İçeriği:</label>
                                    <input name="faliyetAmaci" type="text" class="form-control" id="faliyetAmaci" required>
                                </div>
                                <div class="form-group">
                                    <label>Faliyet Tarihi:</label>
                                    <input name="tarih" type="date" class="form-control" id="tarih" required>
                                </div>
                                <div class="form-group">
                                    <label>Faliyet Yerleşkesi:</label>
                                    <input name="yerleske" type="text" class="form-control" id="yerleske" required>
                                </div>
                                <a id="ekle" style="margin-right: 5px; float: right;" class="btn btn-success">Ekle</a>
                            </form>
                        </div>
                    </section>
                </div>
                <div class="col-lg-6">
                    <section class="panel">
                        <header class="panel-heading">
                            Form 4 - Toplanti Bilgileri
                        </header>
                        <div class="panel-body">
                            <div class="panel-body">
                                <form role="form" method="post" action="/Guncelle/form3">
                                    <div class="form-group">
                                        <label>Topluluk Başkanı</label>
                                        <select class="form-control" name="ID" required>
                                            <option value="">Topluluk Başkanı Seçiniz..</option>
                                            @foreach (GOgrenciListesi item in ViewBag.Ogreciler)
                                            {

                                                <option value="@item.ID"> @item.adi @item.soyadi</option>

                                            }
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Toplantı Tarihi:</label>
                                        @{
                                            int gunInt = 0;
                                            gunInt = (int)Model.toplantiTarihi.Value.Day;
                                            string ay = Model.toplantiTarihi.Value.Month.ToString();
                                            string yil = Model.toplantiTarihi.Value.Year.ToString();
                                            string gun;
                                            if (gunInt <= 9)
                                            {
                                                gun = "0" + Model.toplantiTarihi.Value.Day.ToString();
                                            }
                                            else
                                            {
                                                gun = Model.toplantiTarihi.Value.Day.ToString();
                                            }

                                            string toplantiTarihi = yil + "-" + ay + "-" + gun;
                                        }
                                        <input name="toplantiTarihi" type="date" class="form-control" id="toplantiTarihi" value="@toplantiTarihi" required>
                                    </div>
                                    <div class="form-group">
                                        <label>Toplantı Saati:</label>
                                        <input name="saat" type="time" class="form-control" id="saat" value="@Model.saat" required>
                                    </div>
                                    <div class="form-group">
                                        <label>Toplantı Numarası:</label>
                                        <input name="toplantiNo" type="number" class="form-control" id="toplantiNo" value="@Model.toplantiNo" required>
                                    </div>
                                    <div class="form-group">
                                        <label>Toplantı yeri:</label>
                                        <input name="mekan" type="text" class="form-control" value="@Model.mekan" required>
                                    </div>
                                    <button type="submit" id="button" style="margin-right: 5px; float: right;" class="btn btn-info">Kaydet</button>

                                </form>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <section class="panel">
                        <header class="panel-heading">
                            Form 4
                        </header>
                        <div class="panel-body" align="center" style="padding: 200px">
                            <p>&nbsp;</p>
                            <p style="text-align: center; tab-stops: 133.5pt;"><strong><span style="font-size: 12.0pt; line-height: 115%; font-family: 'Times New Roman', 'serif';">@DateTime.Now.Year-@DateTime.Now.AddYears(+1).Year AKADEMİK YILI FAALİYET PLANI</span></strong></p><br /><br /><br />
                            <p style="text-align: center; tab-stops: 133.5pt;"><span style="font-size: 12.0pt; line-height: 115%; font-family: 'Times New Roman', 'serif';">&nbsp;</span></p>
                            <p style="text-align: justify; text-indent: 35.45pt; tab-stops: 133.5pt;"><span style="font-size: 12.0pt; line-height: 115%; font-family: 'Times New Roman', 'serif';">D&uuml;zce &Uuml;niversitesi <b> @Model.toplulukAdi.ToUpper() </b> Topluluğu <b> @toplantiTarihi </b>tarihinde saat <b>@Model.saat</b> de <b>@Model.mekan</b> de <b>@Model.toplantiNo</b> .ıncı (birinci, ikinci, &uuml;&ccedil;&uuml;nc&uuml; vb.) olağan genel kurul toplantısında alınan karar doğrultusunda;<b> @DateTime.Now.Year-@DateTime.Now.AddYears(+1).Year </b>Akademik yılında ger&ccedil;ekleştirilmesi planlanan faaliyetler aşağıda sunulmuştur. </span></p>
                            <p style="text-indent: 35.45pt; tab-stops: 133.5pt;"><span style="font-size: 12.0pt; line-height: 115%; font-family: 'Times New Roman', 'serif';">&nbsp;</span></p>
                            <br /><br /><br /><br /><br /><br />
                            <div class="append">
                                @{
                                    Html.RenderAction("faaliyetPlaniWidget");
                                }
                            </div>


                            <p style="tab-stops: 133.5pt;"><span style="font-size: 12.0pt; line-height: 115%; font-family: 'Times New Roman', 'serif';">&nbsp;</span></p>
                            <p style="tab-stops: 133.5pt;"><span style="font-size: 12.0pt; line-height: 115%; font-family: 'Times New Roman', 'serif';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Topluluk Başkanı&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Topluluk Danışmanı</span></p>
                            <p style="tab-stops: 133.5pt;"><span style="font-size: 12.0pt; line-height: 115%; font-family: 'Times New Roman', 'serif';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ad-Soyad-İmza&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Ad-Soyad-İmza</span></p>

                            <p style="tab-stops: 133.5pt;"><span style="font-size: 12.0pt; line-height: 115%; font-family: 'Times New Roman', 'serif';">@Model.baskanAdi @Model.baskanSoyadi &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; @Model.GDanisman.Where(x => x.aktif == true).FirstOrDefault().adi  @Model.GDanisman.Where(x => x.aktif == true).FirstOrDefault().soyadi </span></p>
                            <p>&nbsp;</p>
                        </div>
                    </section>
                </div>
            </div>
        }
    }
    else
    {
        <div class="alert alert-danger" role="alert">
            <strong><p style="font-size:18px;"> İlk önce 2. formu doldurmanız gerekmektedir.</p></strong>
        </div>
    }





}




<script src="/Content/js/jquery.js"></script>
<script src="/Content/js/jquery-1.8.3.min.js"></script>

<script>

    $("#ekle").click(function () {

        var value1 = $("#faliyetTürü").val();
        var value2 = $("#faliyetAmaci").val();
        var value3 = $("#tarih").val();
        var value4 = $("#yerleske").val();

        if (value1 === "" || value2 === "" || value3 === "" || value4 === "") {
            alert("Tüm alanlar doldurulmalıdır.");
        }
        else {
            var data1 = { faliyetTürü: value1, faliyetAmaci: value2, tarih: value3, yerleske: value4 };
            $.ajax({
                type: 'POST',
                url: '/Guncelle/faaliyetPlaniEkle',
                data: data1,
                success: function (result) {
                    if (result === true) {
                        $.ajax({
                            type: 'GET',
                            url: '/Guncelle/faaliyetPlaniWidget',
                            cache: false,
                            success: function (myData) {
                                $('.append').html(myData);
                            }
                        });
                    }
                    else {
                        alert("En fazla 5 faaliyet Ekleyebilirsiniz.");
                    }
                },
                error: function (result) {
                    alert("Error");
                }
            });
        }

    });

</script>