
@{
    ViewBag.Title = "form7";
    if (Session["Admin"] != null)
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    else
    {

        Layout = "~/Views/Shared/_LayoutPage.cshtml";
    }
}

@using Community_Appeal_Web_Application.Models

@model Guncelle

<style>
    body {
        text-align: justify;
        text-rendering: geometricPrecision;
    }
</style>

@{
    if (Model != null)
    {
        if (TempData["YönetimHata"] != null)
        {
            <div class="alert alert-danger alert-dismissable">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>@TempData["YönetimHata"]</strong>
            </div>
        }

        if (TempData["Eklendi"] != null)
        {
            <div class="alert alert-success alert-dismissable">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>@TempData["Eklendi"]</strong>
            </div>
        }

        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">
                     Ek 7 - Genel Kurul Tutanağı -  Bilgilendirme Alanı
                    </header>
                    <div class="panel-body">
                        <text><span style="color: red">* </span>Aşağıdaki formları sırası ile doldurunuz.</text><br />
                        <text><span style="color: red">* </span>Girilmesi istenen bilgileri girdikten sonra en altta bulunan forma doğru bir şekilde geldiğini kontrol edeniz.</text>
                        <br />
                        <text><span style="color: red">* </span>Yönetim Kurulu ve Denetim Kurulunda Toplam 10 Kişi Bulunduğunda Bir Sonraki Forma Geçebilirsiniz.</text>
                        <br><text><span style="color: red">* </span>Tüm alanları doldurduktan sonra bilgilendirme alanındaki kaydet buttonuna basarak başvurunuzu tamamlayabilirsiniz.</text>
                        <br />
                        @{
                            if (Model.adimNo >= 6)
                            {
                                <a href="/Guncelle/form8" style="margin-left: 5px;float: right" class="btn btn-primary">Form 5.1</a>
                            }
                        }

                        <a href="/Guncelle/form7Kayit" style="margin-left: 5px;float: right" class="btn btn-info">Kaydet</a>
                    </div>

                </section>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">
                        Yönetim Kurulu
                    </header>
                    <div class="panel-body">
                        <span style="color:red">*</span> Aşağıda Yer Alan Tüm Alanların Eksiksiz Bir Şekilde Doldurulması Gerekmektedir.<br /><br />
                        <form role="form" method="post" action="/Guncelle/form7YonetimKuruluKaydet">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>Açılış Yapan Kişi</label>
                                        <select class="form-control" id="list" name="marscı">
                                            <option value="null">Açılış Yapan Kişiyi Seçiniz...</option>
                                            @foreach (var item in Model.GOgrenciListesi.ToList())
                                            {
                                                <option value="@item.adi @item.soyadi">@item.adi<span> </span>@item.soyadi</option>
                                            }
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label>Üye Sayısı</label>
                                        <input name="uyeSayisi" class="form-control" placeholder="Üye Sayısı Giriniz..." />
                                    </div>

                                    <div class="form-group">
                                        <label>Divan Başkanı</label>
                                        <select class="form-control" id="list" name="divanBasId">
                                            <option>Divan Başkanı Seçiniz...</option>
                                            @foreach (var item in Model.GOgrenciListesi.ToList())
                                            {
                                                <option value="@item.ID">@item.adi<span> </span>@item.soyadi</option>
                                            }
                                        </select>
                                    </div>


                                </div>
                                <div class="col-lg-6">

                                    <div class="form-group">
                                        <label>Başkan Yardımcısı</label>
                                        <select class="form-control" id="list" name="baskanYarId">
                                            <option>Başkan Yardımcısı Seçiniz...</option>
                                            @foreach (var item in Model.GOgrenciListesi.ToList())
                                            {
                                                <option value="@item.ID">@item.adi<span> </span>@item.soyadi</option>
                                            }
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label>Yazman</label>
                                        <select class="form-control" id="list" name="yazmanId">
                                            <option>Yazman Başkanı Seçiniz...</option>
                                            @foreach (var item in Model.GOgrenciListesi.ToList())
                                            {
                                                <option value="@item.ID">@item.adi<span> </span>@item.soyadi</option>
                                            }
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label>Sekreter</label>
                                        <select class="form-control" id="list" name="sekreterId">
                                            <option>Sekreter Seçiniz...</option>
                                            @foreach (var item in Model.GOgrenciListesi.ToList())
                                            {
                                                <option value="@item.ID">@item.adi<span> </span>@item.soyadi</option>
                                            }
                                        </select>
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label>Sayman</label>
                                        <select class="form-control" id="list" name="saymanId">
                                            <option>Sayman Seçiniz...</option>
                                            @foreach (var item in Model.GOgrenciListesi.ToList())
                                            {
                                                <option value="@item.ID">@item.adi<span> </span>@item.soyadi</option>
                                            }
                                        </select>
                                    </div>

                                    <button type="submit" style="margin-right: 5px;" class="btn btn-info">Yönetim Kurulunu Kaydet</button>

                                </div>

                            </div>
                        </form>
                    </div>
                </section>
            </div>

        </div>


        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">
                        Yönetim Kurulu Başkanı Seçimi
                    </header>
                    <div class="panel-body">
                        <form method="post" action="/Guncelle/form7YonetimBaskan">
                            <div class="panel-body">
                                <span style="color:red">*</span> Bu Alanda Yer Alan Yönetim Kurulu Başkanını Seçiniz.<br /><br />
                                <div class="form-group">
                                    <label>Yönetim Kurulu Başkanını seçin</label>
                                    <select onchange="myFunction()" class="form-control" name="yonetimbaskan" id="yonetimbaskan" required>
                                        <option value="null">Üye Seçiniz...</option>
                                        @foreach (var item in Model.GOgrenciListesi.ToList())
                                        {
                                            <option value="@item.ID">@item.adi<span> </span>@item.soyadi</option>
                                        }
                                    </select>
                                </div>
                            </div>
                                <button style="margin-left: 5px;float: right" class="btn btn-info">Kaydet</button>
                        </form>
                    </div>

                </section>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-4">
                <section class="panel">
                    <header class="panel-heading">
                        Yönetim Kurulu / Üye Ekle
                    </header>
                    <div class="panel-body">
                        <span style="color:red">*</span> Yönetim Kuruluna 3 Üye Eklenmesi Gerekmektedir.<br /><br />
                        <div class="form-group">
                            <label>Yönetim Kuruluna Üye Ekle</label>
                            <select onchange="myFunction()" class="form-control" id="ogrenci">
                                <option value="null">Üye Seçiniz...</option>
                                @foreach (var item in Model.GOgrenciListesi.ToList())
                                {
                                    <option value="@item.ID">@item.adi<span> </span>@item.soyadi</option>
                                }
                            </select>
                        </div>
                        <a href="#" id="ekle" class="btn btn-success" style="margin-right: 5px;"><i class="glyphicon-plus"></i> Üye Ekle</a>
                    </div>
                </section>
            </div>

            <div class="col-lg-4">
                <section class="panel">
                    <header class="panel-heading">
                        Denetim Kurulu
                    </header>
                    <div class="panel-body">
                        <span style="color:red">*</span> Denetim Kurulu Başkanını Seçiniz.<br /><br />
                        <form role="form" method="post" action="/Guncelle/form7DenetimKuruluKaydet">

                            <div class="form-group">
                                <label>Denetim Kurulu Başkanı</label>
                                <select class="form-control" id="list" name="baskanId">
                                    <option>Denetim Kurulu Başkanını Seçiniz...</option>
                                    @foreach (var item in Model.GOgrenciListesi.ToList())
                                    {
                                        <option value="@item.ID">@item.adi<span> </span>@item.soyadi</option>
                                    }
                                </select>
                            </div>


                            <button type="submit" style="margin-right: 5px;" class="btn btn-info">Denetim Kurulunu Kaydet</button>


                        </form>
                    </div>
                </section>
            </div>

            <div class="col-lg-4">
                <section class="panel">
                    <header class="panel-heading">
                        Denetim Kurulu / Üye Ekle
                    </header>
                    <div class="panel-body">
                        <div class="form-group">
                            <span style="color:red">*</span> Denetim Kuruluna 2 Üye Eklenmesi Gerekmektedir.<br /><br />
                            <label>Denetim Kuruluna Üye Ekle</label>
                            <select onchange="myFunction1()" class="form-control" id="ogrenci1">
                                <option value="null">Üye Seçiniz...</option>
                                @foreach (var item in Model.GOgrenciListesi.ToList())
                                {
                                    <option value="@item.ID">@item.adi<span> </span>@item.soyadi</option>
                                }
                            </select>
                        </div>
                        <a href="#" id="ekle1" class="btn btn-success" style="margin-right: 5px;"><i class="glyphicon-plus"></i> Üye Ekle</a>

                    </div>
                </section>
            </div>
        </div>



        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">
                        Etkinlikler ve Bütçe
                    </header>
                    <div class="panel-body">
                        <span style="color:red">*</span> Etkinlik Alanı ve Bütçe Alanını Eksiksiz Doldurunuz.<br /><br />
                        <form role="form" method="post" action="etkButceKaydet">
                            <div class="form-group">
                                <label>Gerçekleştirilecek Etkinliklerden Bahsedin</label>
                                <textarea name="etkinlik" style="resize: vertical; height: 100px" class=form-control type="text"></textarea>
                            </div>

                            <div class="form-group">
                                <label>Gerçekleştirilecek Etkinlikler İçin Gerekli Bütçeden Bahsedin</label>
                                <textarea name="butce" style="resize: vertical; height: 100px" class=form-control type="text"></textarea>
                            </div>

                            <div class="form-group">
                                <label>Varsa Başka Kurulu Giriniz</label>
                                <textarea name="kurul" style="resize: vertical; height: 100px" class=form-control type="text"></textarea>
                            </div>

                            <div class="form-group">
                                <label>Kurunulunuz Üye Seçimini Açıklayınız.</label>
                                <textarea name="kUyeSecimi" style="resize: vertical; height: 100px" class=form-control type="text"></textarea>
                            </div>
                            <button type="submit" style="margin-right: 5px;" class="btn btn-info">Kaydet</button>
                        </form>
                    </div>
                </section>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">
                        Form 7
                    </header>
                    <section class="panel-body" style="padding-left: 90px; padding-right: 90px">
                        <div style="float: right;">
                            <p style="text-indent: 35.4pt;"><span style="font-size: 12.0pt;font-family: 'Times New Roman', serif;">Ek-7</span></p>
                        </div>
                        <br /><br />
                        <br /><br />
                        <div style="text-align: center;">
                            <p style="">
                                <span style="font-size: 12.0pt; font-family: 'Times New Roman', serif;">
                                    DÜZCE ÜNİVERSİTESİ <b>@Model.toplulukAdi.ToUpper() TOPLULUĞU</b><br />
                                    OLAĞAN/OLAĞANÜSTÜ GENEL KURUL TUTANAĞI<br />
                                    <b>@DateTime.Now.ToShortDateString()</b>
                                </span>
                            </p>
                        </div>
                        <br />
                        <div style="">
                            <p style="text-indent: 35.4pt;">
                                <span style="font-size: 12.0pt; font-family: 'Times New Roman', serif;text-align: justify">
                                    Düzce Üniversitesi <b>@Model.toplulukAdi</b> Topluluğu
                                    <b>@Model.toplantiTarihi.ToString().Substring(0, 10)</b>
                                    Tarihinde saat <b>@Model.saat</b>'de <b>@Model.mekan</b>'de,
                                    <b>@Model.toplantiNo</b>'ıncı (birinci, ikinci, üçüncü vb.) olağan
                                    genel kurul toplantısı gerçekleştirilmiştir.
                                    <br /><br />
                                    Gündemin birinci maddesi gereği, genel kurul toplantısı @{
                                        if (Model.uyeSayisi == null)
                                        {
                                            <span>……</span>
                                        }
                                        else
                                        {
                                            <b>@Model.uyeSayisi</b>
                                        }
                                    }
                                    üye ile @{
                                        if (Model.marscı == null)
                                        {
                                            <span>…………………………………………</span><i> (kişi ismi yazılacak)</i>
                                        }
                                        else
                                        {
                                            <b>@Model.marscı</b>
                                        }
                                    }
                                    tarafından açıldı.
                                </span>
                            </p>

                            <p style="text-indent: 35.4pt;">
                                <span style="font-size: 12.0pt; font-family: 'Times New Roman', serif; text-align: justify">
                                    Açılış ve yoklama gerçekleştikten sonra @{
                                        if (Model.marscı == null)
                                        {
                                            <span>…………………………………………</span><i> (kişi ismi yazılacak)</i>
                                        }
                                        else
                                        {
                                            <b>@Model.marscı</b>
                                        }
                                    } katılanları
                                    saygı duruşunda bulunmaya ve İstiklal Marşı’nı söylemeye davet etti.
                                    <br /><br />
                                    Gündemin ikinci maddesi gereği, toplantıyı yönetmek üzere Divan Kurulu oluşturuldu.
                                    Divan Başkanlığı’na @{
                                        if (Model.divanBaskanAdi == null)
                                        {
                                            <span>…………………………………………</span><i> (kişi ismi yazılacak)</i>
                                        }
                                        else
                                        {
                                            <b>@Model.divanBaskanAdi<span> </span>@Model.divanBaskanSoyadi</b>
                                        }
                                    } , Başkan Yardımcılığına @{
                                        if (ViewBag.BaskanYar == null)
                                        {
                                            <span>…………………………………………</span><i> (kişi ismi yazılacak)</i>
                                        }
                                        else
                                        {
                                            <b>@ViewBag.BaskanYar.adi<span> </span>@ViewBag.BaskanYar.soyadi</b>
                                        }
                                    }
                                    , Yazman üyeliğine @{
                                        if (Model.yazmanAdi == null)
                                        {
                                            <span>…………………………………………</span><i> (kişi ismi yazılacak)</i>
                                        }
                                        else
                                        {
                                            <b>@Model.yazmanAdi<span> </span>@Model.yazmanSoyadi</b>
                                        }
                                    } seçildi.
                                </span>
                            </p>

                            <p style="text-indent: 35.4pt;">
                                <span style="font-size: 12.0pt; font-family: 'Times New Roman', serif; text-align: justify">
                                    Gündemin üçüncü maddesi gereği, @{
                                        if (Model.akademikYıl == null)
                                        {
                                            <span>…………………………………………</span>
                                        }
                                        else
                                        {
                                            <b>@Model.akademikYıl</b>
                                        }
                                    } Akademik yılında gerçekleştirilecek etkinlikler
                                    belirlenmiştir. @{
                                        if (Model.etkinlik == null)
                                        {
                                            <span><i>(Burada gerçekleştirilecek etkinlikler anlatılacaktır.)</i></span>
                                        }
                                        else
                                        {
                                            <b>@Model.etkinlik</b>
                                        }
                                    }
                                </span>
                            </p>

                            <p style="text-indent: 35.4pt;">
                                <span style="font-size: 12.0pt; font-family: 'Times New Roman', serif; text-align: justify">
                                    Gündemin dördüncü maddesi gereği, bütçe önerisi görüşüldü. @{
                                        if (Model.butce == null)
                                        {
                                            <span>
                                                <i>
                                                    (Burada gerçekleştirilecek
                                                    etkinlikler için bütçeden bahsedilecek.)
                                                </i>
                                            </span>
                                        }
                                        else
                                        {
                                            <b>@Model.butce</b>
                                        }
                                    }
                                </span>
                            </p>

                            <p style="text-indent: 35.4pt;">
                                <span style="font-size: 12.0pt; font-family: 'Times New Roman', serif; text-align: justify">
                                    Gündemin beşinci maddesi gereği, Divan Başkanı @{
                                        if (Model.divanBaskanAdi == null)
                                        {
                                            <span>…………………………………………</span><i> (kişi ismi yazılacak)</i>
                                        }
                                        else
                                        {
                                            <b>@Model.divanBaskanAdi<span> </span>@Model.divanBaskanSoyadi</b>
                                        }
                                    }
                                    yönetim kurulunun ibrazının gerektiğini belirtti.
                                </span>
                            </p>

                            <p style="text-indent: 35.4pt;">
                                <span style="font-size: 12.0pt; font-family: 'Times New Roman', serif; text-align: justify">
                                    Gündemin altıncı maddesi gereği, yönetim kurulunun, denetleme kurulunun,
                                    @{
                                        if (Model.baskaKurul == null)
                                        {
                                            <span>…………………………………………</span><i> (topluluk tüzüğünde belirtilen başka kurul varsa burada yazılacak)</i>
                                        }
                                        else
                                        {
                                            <b>@Model.baskaKurul</b>
                                        }
                                    } seçimine
                                    Divan Başkanı @{
                                        if (Model.divanBaskanAdi == null)
                                        {
                                            <span>…………………………………………</span><i> (kişi ismi yazılacak)</i>
                                        }
                                        else
                                        {
                                            <b>@Model.divanBaskanAdi<span> </span>@Model.divanBaskanSoyadi</b>
                                        }
                                    } başkanlığında geçildi.
                                </span>
                            </p>

                            <p style="text-indent: 35.4pt;">
                                <span style="font-size: 12.0pt; font-family: 'Times New Roman', serif; text-align: justify">
                                    Yönetim Kurulu için gerekli koşulları ve görevlerini Divan Başkanı @{
                                        if (Model.divanBaskanAdi == null)
                                        {
                                            <span>…………………………………………</span><i> (kişi ismi yazılacak)</i>
                                        }
                                        else
                                        {
                                            <b>@Model.divanBaskanAdi<span> </span>@Model.divanBaskanSoyadi</b>
                                        }
                                    }
                                    üyelere anlattıktan sonra Yönetim Kurulu’na üye olmak isteyen kişiler kendilerini tanıttı.
                                    Yönetim Kurulu üyesi olmak isteyen kişiler aşağıdadır:
                                </span>
                            </p><br />

                            <div class="append">
                                @{
                                    Html.RenderAction("uyeListesiWidget");
                                }
                            </div><br />

                            <p style="text-indent: 35.4pt;">
                                <span style="font-size: 12.0pt; font-family: 'Times New Roman', serif; text-align: justify">
                                    Divan Başkanı @{
                                        if (Model.divanBaskanAdi == null)
                                        {
                                            <span>…………………………………………</span><i> (kişi ismi yazılacak)</i>
                                        }
                                        else
                                        {
                                            <b>@Model.divanBaskanAdi<span> </span>@Model.divanBaskanSoyadi</b>
                                        }
                                    } yönetim kurulu üyesi olmak isteyen üyelere Yönetim Kurulu’nun
                                    @{
                                        if (Model.GYonetimKurulu == null)
                                        {
                                            <span>………………………</span><i>
                                                (topluluk tüzüğünde belirtilen yönetim kurulu üyelerinin neler olduğu ve kaç kişiden oluştuğu
                                                yazılacak)
                                            </i> <span>
                                                kişiden oluştuğunu söyledikten sonra üyelere söz vererek talep ettikleri kurul üyeliğini sordu.
                                                Buna göre Yönetim Kurulu şu kişilerden oluşmuştur;
                                            </span> <i>
                                                (Burada kurul üyeliklerine kimlerin seçildiği
                                                yazılacak)
                                            </i>

                                        }
                                        else
                                        {
                                            <b>@Model.GYonetimKurulu.Count()</b><span>
                                                oluştuğunu söyledikten sonra üyelere söz vererek talep ettikleri kurul üyeliğini sordu.
                                                Buna göre Yönetim Kurulu şu kişilerden oluşmuştur;
                                            </span>
                                        }
                                    }
                                </span>
                            </p><br />

                            @{
                                Html.RenderAction("yKuruluListesiWidget");
                            }

                        </div>
                        <br />

                        <p style="text-indent: 35.4pt;">
                            <span style="font-size: 12.0pt; font-family: 'Times New Roman', serif; text-align: justify">
                                Yönetim Kurulu seçiminin ardından Denetleme Kurulu seçimine geçilmiştir.
                                Yapılan seçimin ardından Denetleme Kurulu şu kişilerden oluşmuştur;
                            </span>
                        </p>

                        @{
                            Html.RenderAction("dKuruluListesiWidget");
                        }
                        <br />
                        <p style="text-indent: 35.4pt;">
                            <span style="font-size: 12.0pt; font-family: 'Times New Roman', serif; text-align: justify">
                                Divan Başkanı @{
                                    if (Model.divanBaskanAdi == null)
                                    {
                                        <span>…………………………………………</span>
                                    }
                                    else
                                    {
                                        <b>@Model.divanBaskanAdi<span> </span>@Model.divanBaskanSoyadi</b>
                                    }
                                } Yönetim Kurulu ve Denetleme Kurulu üyelerinin seçimlerinin bittiğini
                                ve seçimlerle ilgili konuşmak isteyen olup olmadığını toplantıya katılan üyelere sordu.
                                @{
                                    if (Model.bkUyeSecimi == null)
                                    {
                                        <span>…………………………………………</span><i> (Topluluk tüzüğünde belirtilen başka Kurul varsa onların üye seçimi de yapılacak ve burada yazılacak)</i>
                                    }
                                    else
                                    {
                                        <b>@Model.bkUyeSecimi</b>
                                    }
                                }
                            </span>
                        </p>

                        <p style="text-indent: 35.4pt;">
                            <span style="font-size: 12.0pt; font-family: 'Times New Roman', serif; text-align: justify">
                                Divan Başkanı @{
                                    if (Model.divanBaskanAdi == null)
                                    {
                                        <span>…………………………………………</span><i> (kişi ismi yazılacak)</i>
                                    }
                                    else
                                    {
                                        <b>@Model.divanBaskanAdi<span> </span>@Model.divanBaskanSoyadi</b>
                                    }
                                }gündemin yedinci maddesi gereği sözü konuşmak isteyen üyelere verdi.
                                <i>(Söz almak isteyen çıkmazsa kapanışa geçileceği söylendi.)</i>
                            </span>
                        </p>

                        <p style="text-indent: 35.4pt;">
                            <span style="font-size: 12.0pt; font-family: 'Times New Roman', serif; text-align: justify">
                                Divan Başkanı @{
                                    if (Model.divanBaskanAdi == null)
                                    {
                                        <span>…………………………………………</span><i> (kişi ismi yazılacak)</i>
                                    }
                                    else
                                    {
                                        <b>@Model.divanBaskanAdi<span> </span>@Model.divanBaskanSoyadi</b>
                                    }
                                }gündemin sekizinci maddesi gereği kapanışa geçti ve toplantıyı bitirdi.
                            </span>
                        </p>
                        <br /><br />
                        <div style="float: right">
                            <p style="text-indent: 35.4pt; text-align: center">
                                <span style="font-size: 12.0pt; font-family: 'Times New Roman', serif; text-align: justify">
                                    Düzce Üniversitesi @{
                                        if (Model.toplulukAdi == null)
                                        {
                                            <span>…………………………………………</span>
                                        }
                                        else
                                        {
                                            <b>@Model.toplulukAdi</b>
                                        }
                                    } Topluluğu<br />Yön.Kur.Bşk<br />
                                    İmza<br /><br />Ad Soyad<br />@{
                                        if (Model.GYonetimKurulu.FirstOrDefault(x => x.unvan == "Yönetim Kurulu Başkanı") != null)
                                        {
                                            <b>@Model.GYonetimKurulu.FirstOrDefault(x => x.unvan == "Yönetim Kurulu Başkanı").adi</b>
                                            <span> </span>
                                            <b>@Model.GYonetimKurulu.FirstOrDefault(x => x.unvan == "Yönetim Kurulu Başkanı").soyadi</b>
                                        }

                                    }


                                </span>
                            </p>
                        </div>
                        <br /><br />
                    </section>
                </section>
            </div>
        </div>

    }
    else
    {
        <div class="alert alert-danger" role="alert">
            <strong><p style="font-size:18px;"> İlk önce 4. formu doldurmanız gerekmektedir.</p></strong>
        </div>
    }
}

<script>

    function myFunction() {
        var selector = document.getElementById('ogrenci');
        var valuea = selector[selector.selectedIndex].value;
        if (valuea != "null") {
            document.getElementById('ekle').href = "/Guncelle/yonetimKuruluUyeEkle/" + valuea;
        } else {
            document.getElementById('ekle').href = "#";
        }
    }

    function myFunction1() {
        var selector = document.getElementById('ogrenci1');
        var valuea = selector[selector.selectedIndex].value;
        if (valuea != "null") {
            document.getElementById('ekle1').href = "/Guncelle/denetimKuruluUyeEkle/" + valuea;
        } else {
            document.getElementById('ekle1').href = "#";
        }
    }

</script>